.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 150px;
}

body {
  margin: 25% auto ; /* Posicionamento na tela do form */
  margin-right: 50px;
  background: linear-gradient(to bottom, #ffffff 10%, #09ADB6 90%);
  background-size: 100% 200%;
  padding-top: 25rem;
  
  
}

.form-contact {
  width: 100%;
  font-family: "Arial", Times, serif;
}

.form-contact-input,
.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 40px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 80px; /* A altura pode ser muito grande para dispositivos móveis. Vamos reduzir para 30px. */
  margin-bottom: 60px;
  text-indent: 0px;
}

.form-contact-textarea {
  height: 160px; /* Vamos reduzir a altura da área de texto para 150px. */
}

.form-contact-button {
  width: 40%;
  font-size: 40px;
  border-radius: 6px;
  color: #fff;
  height: 70px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #2D2B6A;
  border: none;
  transition: opacity 1s;
  margin-left: 35%;
}

.form-contact-button:hover {
  opacity: 1;
}

.logo {
  position: absolute;
  top:  -5rem; /* Isso pode causar um posicionamento estranho em dispositivos móveis. Verifique se é realmente necessário. */
  left: 2rem;
  width: 800px;
  max-width: 800px;
  height: auto;
  
}

.form-contact {
  margin-top: 1px; /* Isso pode não ser necessário, dependendo do layout final. */
}

@media screen and (max-width: 600px) {
  .form-contact-input,
  .form-contact-textarea {
    font-size: 16px; /* Reduziremos a fonte para 16px em dispositivos móveis. */
    height: 30px; /* Reduziremos a altura para 30px em dispositivos móveis. */
    text-indent: 10px; /* Reduziremos o recuo do texto para 10px em dispositivos móveis. */
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
        
    }
  }
  

  .form-contact-textarea {
    height: 100px; /* Reduziremos a altura da área de texto para 100px em dispositivos móveis. */
  }
}

.form-contact-input,
.individual,
.familiar
{
  margin-bottom: 100px; 
  padding: 15px;
  
}

.label{
  font-size: 60px;
  font-weight: bold;
  color: rgb(41, 41, 41);
  align-items: center;
  
}

.individual,
.familiar {
  transform: scale(3.5);
  margin-right: 25px; 
  margin-left: 70px;
  vertical-align: 11px

}
.whattsapp {
  position: fixed;
  bottom: 40px; 
  right: 50px; 
  width: 150px; 
  height: auto;
}